h1 {
    background-color: white;
    color: #ca6161;
    font-style: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 5px; 
}


p {
    background-color: white;
    color: #6b7e91;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    font-style: bold;
    font-size: 20px;
}

button {
    background-color: #6b7e91;
    color: white;
    margin: 10px;
    padding: 5px;
    font-family: 'Georgia', Times, Times New Roman, serif; 
}

#giphs {
    float: left;
}

form {
    float: right;
    color: #ca6161;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-color:   #ca6161;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 100px;
    margin-top: 20px;
}

#container {
    margin-top: 20px;
}

@media only screen and (max-width: 980px) {
 }

@media only screen and (max-width: 768px) {  
    form {
        float: left;
    }
}


@media only screen and (max-width: 640px) {  
    form {
        float: left;
    }
}
